# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Maven
server/target/
server/.mvn/
server/mvnw
server/mvnw.cmd

# Environment variables
.env
.env.local
*.env

# Logs
*.log
logs/

# Secrets - never commit these!
**/application-local.properties
**/application-secret.properties
server/target/
server/target/
server/src/main/resources/application.properties
frontend/.env
node_modules/
frontend/node_modules/
